.idea 
*.pyc
*.zip
.coverage
cover/
site/*
manual/site/*
nosetests.xml
performancecounters.log
settings.json
docker_environment.json
docs/pull_image.md
docs/dbupgrade.md
docs/infra.md
test.py
docs/appinstall.md
docs/healthcheck.md
docs/index.md
docs/performancecounters.md
docs/totaltime.md
nohup.out
bootstrap_time.log
piplist.log
bootstrap.log
